[bucket]
bucket = caiyz-s10
initbucket = caiyz-auto-init
uploadbucket = caiyz-auto-silce
completebucket = caiyz-auto-complete
error_bucket = cazyzdi
invalidbucket = caiyze-test3
undobucket = caiyz4
nomatchbucket = yw-caiyz1
uploadpart_bucket_error = caiyz-s3-error
conflict_bucket = bucket001
aws_bucket= wstest-2
kf_bucket = zhihuzhe

[filename]
minetype = testminetype
filename = mine-type.mp4
filename_4m = 4m.rar
filename_first_less4m = first_less4m.rar
filename_last_less4m = last_less4m.rar
spacefilename = aa 33/test.mp4
gfilename = 中文.rar
otherfilename = ！@#￥%……&*<,?.[/\`}]>.RAR

filepath = /var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/
filepath_4m  = /var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/litter/
filepath_first_less4m = /var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/first_less_4m/
filepath_last_less4m=/var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/last_less_4m/
slicepath = /var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/12m/
windows_path = E:\slice3\
moreslicepath = /var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/300M/
resource_path = /var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/resource/test.mp4
xmlfile = partnum&etag.xml
errorxmlfile = errorxml.xml

[urlinfo]
s3_url = http://apitest_user.region98.s1.wcsapi.com:8998
conflict_url = http://wcs020_sub_tests3.region98.s1.wcsapi.com:8998
aws_url = http://s3.amazonaws.com
kf_url = http://apitest_user.s1.wcsapi.com:8998

[key]
ak = 72ced9249a1cb518b08a10e4719b8c4b4542c20a
sk = 446edcd1048af4e94f634f2d162edf4a63f02ad2
otherak = eaa1af625486672ad8c021049466129a5db99eb8
othersk = 1920254ed49ae82b665372702296ee73af26d872
errorak = aa1f62dd58662a8c021049461d9a5db99eb8
errorsk = ed49ae82b66ddd5372702296ee73af26d872
conflict_ak = c59a8101d13514fa4f8461483ae6f4e8426fddb0
conflict_sk = 54c17bf9da9ee8bbed52018cbbb5d974bd1ae1aa
aws_ak = AKIAJ7CGI5HZYJX4BE3A
aws_sk = 1dJHf4dD75KmHFQtYar//dzX2d2cI4FjSZG0+n/F
kf_ak = a333e4f946f38f061edbdc000c2877d8071e3d51
kf_sk = 34ea9749fc8fcb3bf3f3c63769d97fbd56bc622e

[uploadId]
uploadid = 194f075a78ce4060821c7405acaba5ce
uploadiderror = b3e0e16f6b944c5bb383d8be1cd9b58b

[download]
url =http://caiyz-s10.w.wcs98.biz.matocloud.com:98
savepath =/var/lib/jenkins/jobs/wcs_function_upload/workspace/multipart_upload_python/S3DATA/download/



